<div class="container">
    <div class="container__header">

  
      <mat-card>
        <div class="input-el">
          <app-ui-selector></app-ui-selector>
        </div>
        <div class="input-el">
          <app-ui-selector></app-ui-selector>
        </div>
        <div class="input-el">
          <app-ui-selector></app-ui-selector>
        </div>
  
        <div class="input-el slider">
          <mat-slide-toggle [color]="color">isDraft</mat-slide-toggle>
        </div>
      </mat-card>

    </div>     
    <div class="container__content">
      <app-ui-table></app-ui-table>
    </div>
</div>

