<div class="container">
    <div class="container__header">

  
      <!-- <mat-card>
        <div class="input-el">
          <app-ui-selector></app-ui-selector>
        </div>
        <div class="input-el">
          <app-ui-selector></app-ui-selector>
        </div>
        <div class="input-el">
          <app-ui-selector></app-ui-selector>
        </div>
  
        <div class="input-el slider">
          <mat-slide-toggle [color]="color">isDraft</mat-slide-toggle>
        </div>

        <div class="input-el">
          <button (click)="clickData()" mat-raised-button>Basic</button>
        </div>
      </mat-card> -->


      <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false" [expanded]="!userAgentMobile" [disabled]="!userAgentMobile">

        <mat-expansion-panel-header>
          <mat-panel-title>
            Фильтры
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="filter" [formGroup]="form">
          <div class="input-el">
            <mat-form-field class="example-full-width">
              <mat-label>Search</mat-label>
              <input matInput placeholder="Example : Ivan" (change)="clickData()" [formControlName]="'searchQuery'">
            </mat-form-field>
          </div>
          <div class="input-el">
            <!-- <app-ui-selector ></app-ui-selector> -->

            <mat-form-field appearance="fill">
              <mat-label>Type</mat-label>
              <mat-select  [formControlName]="'Type'">
                <mat-option *ngFor="let type of typesList" [value]="type.value">
                  {{type.value | titlecase}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </div>

          <div class="input-el">
            <!-- <app-ui-selector ></app-ui-selector> -->

            <mat-form-field appearance="fill">
              <mat-label>isDraft</mat-label>
              <mat-select  [formControlName]="'isDraft'">
                <mat-option *ngFor="let type of isDraftList" [value]="type.value">
                  {{type.value | titlecase}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </div>
    
          <!-- <div class="input-el slider">
            <mat-slide-toggle [color]="color" [formControlName]="'isDraft'">isDraft</mat-slide-toggle>
          </div> -->
  
          <div class="input-el">
            <button (click)="clickData()" mat-raised-button>Поиск</button>
          </div>

          <div class="input-el">
            <button (click)="clickReset()" mat-raised-button>Сбросить</button>
          </div>
        </div>

      </mat-expansion-panel>

    </div>     
    <div class="container__content">
      
      <table mat-table [dataSource]="(tableDataResp$ | async)" class="mat-elevation-z8">

        <ng-container matColumnDef="picture">
          <th mat-header-cell *matHeaderCellDef>   </th>
          <td mat-cell *matCellDef="let element"> 
            <img [src]="element.picture" class="avatar">
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>  Name  </th>
          <td mat-cell *matCellDef="let element"> 
            {{ element?.author?.first }} {{ element?.author?.last }}
          </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Type </th>
          <td mat-cell *matCellDef="let element" [class]="element.type"> {{element.type | uppercase}} </td>
        </ng-container>

        <ng-container matColumnDef="published">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element?.published | date}} </td>
        </ng-container>

        <ng-container matColumnDef="tags">
          <th mat-header-cell *matHeaderCellDef> Tags </th>
          <td mat-cell *matCellDef="let element"> 
            <div class="tags">
              <div class="tag" *ngFor="let tag of element?.tags">
                <span>{{ tag }}</span>
              </div>  
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="isDraft">
          <th mat-header-cell *matHeaderCellDef> isDraft </th>
          <td mat-cell *matCellDef="let element" [class]="element?.isDraft === true ? 'isDraft green' : 'isDraft red'"> 
          </td>
        </ng-container>



        
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>
</div>

