.header {
    position: fixed;
    width: 100%;
    z-index: 9999;
    left: 0px;
    right: 0px;
}

.content {
    margin: 56px auto auto;
    position: absolute;
    left: 0px;
    right: 0px;
}

app-page-table {
    display: contents;
    min-width: 100%;
}

mat-toolbar {
    margin: 0px;
}
